*, *:after, *:before {
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
}
.text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 8vw;
    font-weight: 900;
    display: block;
    padding: 0.5em;
    border: 6px solid #000;
}
h1:nth-child(1) {
    position: absolute;
    background-color: #000;
    color: #fff;
    clip-path: polygon(0 0, 58% 0, 55% 100%, 0 100%);
}
h1:nth-child(2) {
    position: absolute;
    background-color: #fff;
    color: #000;
    clip-path: polygon(58% 0, 100% 0, 100% 100%, 55% 100%);
}
p {
    font-size: 2vw;
    font-weight: 900;
    margin-top: 8em;
    text-align: center;
}
p span {
    display: block;
    transform: rotate(90deg);
    margin-top: 0.25em;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
